@page
@model empty.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ext.NET Core Test Page</title>
</head>
<body>
    <div>Hello World!</div>
    <div>
        @Html.Button()
    </div>
    <div>
       <ext-button></ext-button>
    </div>
 </body>
</html>
